@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px;
}
.header-main{
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 20px;
	text-transform: capitalize;
	color: #e91e63;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #000000;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: #e91e63;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: #e91e63;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid #e91e63;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/*home section*/
.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-color: black;
	/* background-image: url('../img/home.jpg'); */
	background-position: center;
	 background-size: cover;
}


/* responsive */

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}

footer{
	position: absolute;
	background:#111;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: 100vw;
	font-family: "Open sans";
	padding-top: 0px;
	color: #fff;
	}
	/* .footer-content{
	display: flex;
	height: 30px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
	}
	
	.footer-content h3{
	font-size: 1.8rem;
	font-weight:300;
	text-transform: capitalize;
	line-height: 1rem;
	
	}
	.footer-content p{
	max-width: 450px;
	margin: 10px auto;
	line-height: 1px;
	font-height: 14px;
	} */
	/* .socials{
	list-style:none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
	
	}
	.socials li{
	margin: 0 10px;
	}
	.socials a{
	text-decoration:none;
	color: #fff;
	}
	
	.socials a i{
	font-size:1.1rem;
	transition: color .4s ease;
	}
	.social a:hover i{
	color: aqua;
	} */
	.footer-bottom{
	background :#000;
	width: 100vw;
	padding: 10px 0;
	text-align: center;
	}
	.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
	height: 8px;
	}
/* .box{

	width:400px;
	padding: 30px;
	top: 50%;
	left:50%;
	margin-top:300px;
	margin-bottom:500px;
	margin-left: 790px; ;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.4);
	text-align: center;
}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 700;


}
.box input[type="text"],.box input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #0367fd;
	padding: 14px 14px;
	width: 220px;
	outline: none;
	color: white;
	border-radius:24px ;
	transition: 0.25px;
}

.box input[type="text"],.box input[type="password"]:focus{

	width: 270px;
	border-color:#ffc400ec ;
}
.box input[type="submit"]{ 
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #ffc400ec;
	padding: 14px 35px;

	outline: none;
	color: white;
	border-radius:24px ;
	transition: 0.25px;
	cursor: pointer;

}
.box input[type="submit"]:hover{
	background: #ffc400ec ; 


} */


.column{
width:20%;
float:left;
padding: 0px 10px;
}
.row::after{
content: "";
display: table;
clear: both;

}
@media screen and (max-width:600px)
{
	.column{
		width:100px;
		display:block;
		margin-bottom:20px;

	}
	
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	max-width:350px;
	margin: auto;
	background-color:white ;
	text-align: center;
	border-radius: 40px;
	padding-bottom: 15px;
}
.title{
	color:gray;
	font-size:18px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#body1{
	min-height: 100vh;
	background: #e0e5ec;
	/* background: skyblue; */
	display: flex;
	align-items: center;
	justify-content: center;
}
.container1{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 1100px;
	margin-top: 300px;
	margin-left: 200px;
}
.card{
	width: 300px;
	height: 300px;
	padding: 40px 30px;
	margin: 10px;
	border-radius: 1rem;
	box-shadow: 9px 9px 16px rgba(163,177,198,.6),
				-9px -9px 16px rgba(255,255,255,.5);

}
.imgBox{
	width: 120px;
	height: 120px;
	border: 1px solid #eaeff5;
	margin: 0 auto;
	border-radius: 100px;
	overflow: hidden;
	box-shadow: 9px 9px 16px rgba(163,177,198,.6),
				-9px -9px 16px rgba(255,255,255,.5);

}
.imgBox img{
	width: inherit;
	height: inherit;
}
h4{
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}
h5{
	text-align: center;
	color: #9b9b9b;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1rem;
}
p{
	color: #696969;
	font-size: 1rem;
	font-weight: bold;
	padding: 10px 0;
	line-height: 1.5rem;
}
.card a{
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #000;
	margin: 10px 0;
	font-size: 1rem;
	font-weight: bold;
	box-shadow: 9px 9px 16px rgba(163,177,198,.6),
				-9px -9px 16px rgba(255,255,255,.5);
	border-radius: 100px;
}
.card a:hover{
	box-shadow:inset 9px 9px 16px rgba(163,177,198,.6),
			inset	-9px -9px 16px rgba(255,255,255,.5),
				9px 9px 16px rgba(163,177,198,.6),
				-9px -9px 16px rgba(255,255,255,.5);
}





@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
/* .signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
} */
